<div class="form-product">
  <div class="titulo">
    <h1 style="font-weight: bold; color: #3f51b5;" align="center">Product Form</h1>
  </div>
  <mat-dialog-content>
    <form autocomplete="off" [formGroup]="productForm">

      <div>
        <mat-form-field fxFlex="100">
          <input type="text" matInput placeholder="Name*" formControlName="name" name="name" maxlength="100">
          <mat-error *ngIf="productForm.controls.name.hasError('required')">
            <span>Name is required!</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="80">
          <input type="text" matInput placeholder="Description" formControlName="description" name="description" maxlength="100">
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <input type="number" matInput placeholder="Price*" formControlName="price" name="price" maxlength="100">
          <mat-error *ngIf="productForm.controls.price.hasError('required')">
            <span>Price is required!</span>
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button mat-button mat-dialog-close color="accent">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="productForm.invalid" (click)="saveUpdateProduct()">Salvar</button>
  </mat-dialog-actions>
</div>

